body{
    padding: 70px;
    font-family: sans-serif;
}


.spaced {
    display: flex;
    justify-content: space-between;
}

.button {
    border: 1px;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    box-shadow: 0px -1px 24px -11px rgba(0,0,0,0.7);
}

.button:active {
    transform: translateY(1px);
    outline:none;
    box-shadow: 0px -1px 24px -11px rgba(0,0,0,0.5);
}

.button:focus {
    outline:none;
}

.primary {
    background: #03a9f4;  /* fallback for old browsers */
    color: white;
}
